@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #5175AD;
}

a {
    text-decoration: none;
    /*    margin: 0px 0px 0px 20px; */
    padding: 0;
    color: #DAEAFF;
}

img {
    margin: 35px;
}

h2 {
    margin-left: 30px;
    padding-top: 40px;
}

.content-text {
    font-size: 24px;
    margin: 30px;
}

.content {
    display: flex;
}

.main_content {
    width: 70%;
    height: 1500px;
    margin: auto;
    background-color: #466494;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #DAEAFF;
}

.main_header {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #39547f;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #DAEAFF;
}

.menu {
    font-size: 24px;
    margin: 0;
    padding: auto;
}

.in-text {
    text-align: center;
}

.table {
    margin: auto;
    border: 2px, solid, #2E4468;
}

tr {
    color: #DAEAFF;
    background-color: #5175AD;
}

td {
    width: 250px;
    border: 2px, solid, #2E4468;
}